*{margin:0;padding:0;box-sizing:border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

:root{

    --bgmain: #DAACC6;
    --bgtablero: #F5A7D2;
    --bgfichas: #960272;
    --letras:#F7ADD6;
    --shadow:#A58296;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--bgmain);
}

.bodys .gato img{
    width: 80vh;
    height: 50vh;
    margin-top: 200px;	
    margin-left: -200px;
}
#cont_puzzle{
    position: relative;
    width: 450px;
    height:450px;
    background-color:var(--bgtablero);
    border-radius:10px;
    border:2px solid var(--bgfichas);
    box-shadow:10px 8px 8px var(--shadow);
    margin-left: 161px;
    margin-top: -450px;
    padding-bottom: 10px;
}

.bloque_puzzle{
    background-color: var(--bgfichas);
	border: 2px solid var(--bgtablero);
    border-radius: 10px;
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 2px;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 96px;
    box-shadow: 0px 1px 1px var(--shadow);
}

.bloque_puzzle .image{
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}

.bloque_puzzle .image img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;	
}

.bloque_puzzle .number {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    margin-top: -40px;
    margin-left: -8px;
    font-size: 50px;
    color: var(--bgfichas);
    font-weight: bold;
    text-shadow: 0px 0px 1px var(--shadow);
}

.clock{
    position:absolute;
    top: 80px;
    right: 6px;
    margin-left: -100px;
    background-color: #960272;
    width: 217px;
    height: 34px;
    border-radius: 8px;
    text-align: center;
}

.clock p{
    color: #F7ADD6;
    font-size: 30px;
    margin-top: -3px;
    font-weight: bold;
}
.bodys .boton button{

    margin-top: 20px;
    margin-left: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #960272;
    border-radius: 8px;
    border: 2px solid #F5A7D2;
    box-shadow: 0px 2px px #A58296;
    width: 160px;
    height: 40px;
    font-size: 20px;
    color: #F7ADD6;
    font-weight: bold;
    cursor: pointer;

}

.bodys .boton button:hover{
    background-color: #F5A7D2;
    color: #960272;
    font-weight: bold;
    cursor: pointer;
}

